/* when get to 992 and smaller */
@media (max-width: 992px) {
    .dashboard {
        grid-template-columns: repeat(2, 1fr);
    }
    .specialties-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .banner-container {
        height: 300px;
    }
}

/* when get to 768 and smaller */
@media (max-width: 768px) {
    .logo-list h1 {
        font-size: 1.75rem;
    }
    .corona-toggle {
        display: none;
    }
    .index-banner,
    .banner-container,
    .covid-banner {
        height: 300px;
    }
    .dashboard {
        grid-template-columns: 1fr;
    }
    .specialties-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .doctors-banner-body h2 {
        font-size: 2.5rem;
    }
    .directory-grid .results-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* when get to 600 and smaller */
@media (max-width: 600px) {
    .logo-row {
        font-size: 1.25rem;
        justify-content: center;
    }
    .logo-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .index-banner,
    .banner-container,
    .covid-banner {
        height: 200px;
    }
    .directory-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .directory-grid .results-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
