/* when get to 992 and smaller */
@media (max-width: 992px) {
    .dashboard {
        grid-template-columns: repeat(2, 1fr);
    }
    .specialties-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .banner-container {
        height: 300px;
    }
}

/* when get to 768 and smaller */
@media (max-width: 768px) {
    .logo-row h1 {
        font-size: 1.75rem;
    }
    .covid-alert p {
        font-size: 16px;
    }
    .covid-toggle {
        display: none;
    }
    .header-content {
        padding: 0;
    }
    .index-banner,
    .banner-container,
    .covid-banner {
        height: 300px;
    }
    .dashboard {
        grid-template-columns: 1fr;
    }
    .specialties-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .physicianss-banner-body h2 {
        font-size: 2.5rem;
    }
    .directory-grid .results-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* .doctor-top-row-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-transform: capitalize;
    }*/

    .top-row-info-item h3 {
        font-size: 18px;
    }
}

/* when get to 600 and smaller */
@media (max-width: 600px) {
    .logo-row {
        font-size: 1.25rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav-bar {
        padding: 10px;
    }
    .index-banner,
    .banner-container,
    .covid-banner {
        height: 200px;
    }
    .directory-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .directory-grid .results-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .footer-grid {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .logo-row h1 {
        text-align: center;
        border: initial;
    }
}
